body {
  background: #000;
  padding-bottom: 60px;
}

.preloader {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 50;
}

.preloader__text {
  font-size: 25px;
  color: #fff;
}

.preloader__start-button {
  border: none;
  border-radius: 5px;
  background: #606060;
  color: #fff;
  padding: 10px 30px;
  font-size: 25px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#container {
  position: absolute;
  width: 800px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 25px;
}

.rain {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 800px;
  height: 580px;
  background: url(assets/bg/layer-6.gif) no-repeat center center / cover;
  z-index: 10;
}

.audio-wrap {
  position: absolute;
  top: 10px;
  right: -50px;
  z-index: 10;
}

.audio-toggler {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(assets/audio.png) no-repeat center / cover;
  cursor: pointer;
}

.audio-toggler.off::before, .audio-toggler.off::after {
  content: '';
  position: absolute;
  top: 0;
  left: 40%;
  display: block;
  width: 3px;
  height: 100%;
  background: #fff;
  transform: rotate(45deg);
}

.audio-toggler.off::after {
  transform: rotate(-45deg);
}

#canvas {
  position: relative;
  width: 800px;
  height: 700px;
}


#slider {
  width: 100%;
}
p {
  color: #fff;
}